.cst-main {
  padding: 26px;
  background: white;
  width: 96%;
  margin: 2%;
}
img {
  width: 993px;
  height: 255px;
}

#pager3 {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  .cycle-pager-active {
    color: white !important;
  }
}
button{
  background-color: white;
    border: 1px solid;
    margin-right: 5px;
}

button:active{
  background-color: black;
    border: 2px solid;
    margin-right: 5px;
    margin-top: 5px;
    color: white;
}