<div class="logo">
  <a href="#" class="simple-text">
      <div class="logo-img">
          <img src="/assets/img/angular2-logo-red.png"/>
      </div>
      Demo Task
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
     
      <li  routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="accordion">
                <i class="fa fa-table"></i>
                <p>Accordion</p>
            </a>
        </li>
        <li  routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="carousel">
                    <i class="fa fa-slideshare"></i>
                    <p>Carousel</p>
                </a>
        </li>
        <li routerLinkActive="active"  class="nav-item">
                <a class="nav-link" routerLink="CTAgrid">
                    <i class="fa fa-file-image-o"></i>
                    <p>CTA grid</p>
                </a>
            </li>
  </ul>
</div>
