.grid25 {
  width: 22%;
  float: left;
  background-color: white;
  margin: 22px 5px 10px 24px;
  height: 280px;
  border-radius: 8px;
  .grid-header {
    padding: 5px;
    font-size: 15px;
    border-bottom: 1px solid #f44336;
    font-weight: 600;
    color: #f44336;
  }
  .grid-content {
    padding: 5px;
    font-size: 13px;
  }
}
.cst-main {
  padding: 26px;
  background: white;
  width: 96%;
  margin: 2%;
}
strong,
b {
  font-weight: bold;
}

.paging-div {
  padding: 26px;
  width: 96%;
  text-align: right;
  margin: 2%;
}
@media screen and (max-width: 1200px) {
  .grid25 {
    width: 28%;
  }
}

@media screen and (max-width: 1024px) {
  .grid25 {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .grid25 {
    width: 42%;
  }
  .grid25 {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .grid25 {
    line-height: 19px;
  }
}

@media screen and (max-width: 360px) {
  .grid25 {
    width: 86%;
    height: 200px;

  }
}

@media screen and (max-width: 240px) {
  .grid25 {
    line-height: 19px;
    height: 200px;
  }
}

button{
  background-color: white;
    border: 1px solid;
    margin-right: 5px;
}

button:active{
  background-color: black;
    border: 1px solid;
    margin-right: 5px;
    margin-top: 5px;
    color: white;
}