.grid25 {
  width: 22%;
  float: left;
  background-color: white;
  margin: 22px 5px 10px 24px;
  height: 280px;
  border-radius: 8px;
  .grid-header {
    padding: 5px;
    font-size: 15px;
    border-bottom: 1px solid #f44336;
    font-weight: 600;
    color: #f44336;
  }
  .grid-content {
    padding: 5px;
    font-size: 13px;
  }
}
.cst-main {
  padding: 26px;
  background: white;
  width: 96%;
  margin: 2%;
}
strong,
b {
  font-weight: bold;
}
